<div ng-controller="app.views.createquestion as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>Add Question</h3>
            @*<table>
                <tr>
                    <td>Question Category:</td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>Question Type:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>No.of.Options:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>Question:</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>Answer1</td>
                    <td>Answer2</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">SUBMIT</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>*@
        </div>
    </div>
</div>